{{ attach_library('citizen_dart/academic-program-toggle') }}

<div class="academic-program-teaser">
  <div class="program-inner">
    <div class="program-intro">
      {% if node.field_image.0.target_id %}
        <div class="program-image">
          {{ drupal_entity('media',node.field_image.0.target_id,'program_teaser') }}
          {% if node.field_banner %}
            <div class="program-banner">
              {{- node.field_banner.string -}}
            </div>
          {% endif %}
        </div>
      {% endif %}
      <div class="program-title">
        <a href="{{ path('entity.node.canonical', {'node': node.id}) }}"><span>{{ node.title.value }}</span></a>
      </div>
    </div>
    <div class="program-meta">
      <div class="program-body hidden" id="programBody" aria-hidden="true">
        <div class="program-intro-text">
          {{ node.field_intro_text.value|raw }}
        </div>
        <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="program-link"><span class="program-link-text">View <span class="visually-hidden">{{ node.title.value }}</span> Program</span></a>
      </div>
      <div class="program-types">
        <a href="#" class="program-toggle" aria-controls="programBody" aria-expanded="false">
          <div class="type-list">
            <span>
              {% for type in node.field_program_type %}
                {{ type.entity.label }}
                {% if not loop.last %} | {% endif %}
              {% endfor %}
            </span>
          </div>
          <span class="visually-hidden">View Program Details</span>
          <div class="chevron-down" id="chevronIcon">
            <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 0.837891L6.5 5.83789L12 0.837891" stroke="#2b3594" stroke-width="2"/>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
