{#
/**
 * @file
 * Theme override for the node title field.
 *
 * This is an override of field.html.twig for the node title field. See that
 * template for documentation about its details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see field.html.twig
 */
#}

{% extends 'field.html.twig' %}

{% set intro = {
	'#type': 'processed_text',
	'#text': element['#object'].field_intro_text.0.value,
	'#format': element['#object'].field_intro_text.0.format
} %}

{% block fieldSingleNo %}

	<div class="hero-wrapper">
	  {% if element['#object'].field_image.0 %}
      <div class="hero-image">
        <div class="image-right">
          {{ drupal_entity('media',element['#object'].field_image.0.target_id,'730x840') }}
          <div class="image-waves">
            <img src="/themes/custom/citizen_dart/images/elements/wavy-blue.svg" width="542px" height="881px" alt="decorative wavy line background shape" />
          </div>
        </div>
        {# render the swirl pattern #}
      </div>{# end hero image #}
		{% endif %}

		{# set an area with breadcrumbs and header text content #}
		<div class="page-header-text">
			<div class="page-header-text-inner">
        {{ drupal_block('system_breadcrumb_block') }}
				<div class="field title string">
					<h1 class="field page-title">{{ element['#object'].title.0.value }}</h1>
				</div>
        <div class="field field-subtitle string">
					<h2 class="field page-subtitle">{{ element['#object'].field_subtitle.0.value }}</h2>
				</div>
        <div class="field field-intro text-long">
          {{ intro }}
				</div>
			</div>
		</div>
	</div>{# end page header wrapper #}
{% endblock %}

