{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}

<form {{ attributes}} class="{{ element['#attributes'].class.0 }}" aria-label="Filter the contents of the Content view" data-drupal-selector="{{ element['#id'] }}" id="{{ element['#id'] }}" action="{{ element['#action'] }}" method="{{ element['#method'] }}" accept-charset="UTF-8">
  {% if element.title %}
    <div class="views-exposed-filter custom-views-filter filter-title">
      <label for="edit-title" class="form-item__label">Title</label>
      {{ element.title }}
    </div>
  {% endif %}
  {% if element.type %}
    <div class="views-exposed-filter custom-views-filter filter-content-type">
      <label for="edit-type" class="form-item__label">Content Type</label>
      {{ element.type }}
    </div>
  {% endif %}
  {% if element.field_page_families_target_id %}
    <div class="views-exposed-filter custom-views-filter filter-content-page-families">
      <label for="edit-field-page-families-target-id" class="form-item__label">Page Families</label>
      {{ element.field_page_families_target_id }}
    </div>
  {% endif %}
  {{ element.status }}
  {{ element.created_wrapper }}
  {{ element.actions }}
  <div class="advanced-filters-drawer">
    <a href="#" class="advanced-toggle">Advanced filters<span class="caret"><svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1L6 6L10.9971 1" stroke="#0160F2" stroke-miterlimit="10"/>
      </svg></span></a>
    <div class="advanced-filters-wrapper">
      <div class="advanced-filters-inner">
        {% if element.field_placement_tags_target_id %}
          <div class="views-exposed-filter custom-views-filter filter-content-placement-tags">
            <label for="edit-field-placement-tags-target-id" class="form-item__label">Placement Tags</label>
            {{ element.field_placement_tags_target_id }}
          </div>
        {% endif %}
        {% if element.element.field_editorial_sections_target_id %}
          <div class="views-exposed-filter custom-views-filter filter-editorial-sections">
            <label for="edit-field-editorial-sections-target-id" class="form-item__label">Editorial Section</label>
            {{ element.field_editorial_sections_target_id }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</form>