{#
/**
 * @file
 * Theme override for the node title field.
 *
 * This is an override of field.html.twig for the node title field. See that
 * template for documentation about its details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see field.html.twig
 */
#}

{% extends 'field.html.twig' %}

{% block fieldSingleNo %}
  <a class="ec-button" href="https://www.careers.wisconsin.edu/psc/careers/EMPLOYEE/UW_TAM/c/HRS_HRAM_FL.HRS_CG_SEARCH_FL.GBL?Page=HRS_CAREERS_FL&Action=U&FOCUS=Applicant&SiteId=3">Apply Now</a>
	<a class="ec-button" href="https://www.wisconsin.edu/ohrwd/benefits/benefits-estimator/">Benefits Estimator</a>
  <div class="social">
    <span>Share with:</span>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ url|url_encode }}">
      <svg id="facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.41 22.47"><defs><style>.cls-1{fill:#0160f2;stroke-width:0px;}</style></defs><g id="Layer_1-2"><path class="cls-1" d="m6.88,7.4v-2.35s-.09-1.29,1.33-1.29h2.16V0h-3.77S2.29-.22,2.29,4.92v2.53H0v3.72h2.29v11.3h4.64v-11.32h3.07l.41-3.77-3.53.02Z"/></g></svg>
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ content.title.value|url_encode }}&url={{ url|url_encode }}&via=http://www.twitter.com/uweauclaire">
      <svg id="twitter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1226.37"><defs><style>.cls-1{fill:#0160f2;stroke-width:0px;}</style></defs><g id="Layer_1-2"><path class="cls-1" d="m714.16,519.28L1160.89,0h-105.86l-387.89,450.89L357.33,0H0l468.49,681.82L0,1226.37h105.87l409.63-476.15,327.18,476.15h357.33l-485.86-707.09h.03Zm-145,168.54l-47.47-67.89L144.01,79.69h162.6l304.8,435.99,47.47,67.89,396.2,566.72h-162.6l-323.31-462.45v-.03Z"/></g></svg>
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url|url_encode }}&title={{ content.title.value|url_encode }}&source=UWEC%20News">
      <svg id="linkedin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 298.75 298.74"><defs><style>.cls-1{fill:#0160f2;stroke-width:0px;}</style></defs><g id="Layer_1-2"><path class="cls-1" d="m64.18,298.74H0V99.19h64.18v199.55Zm-29.87-229.89h-.46C13.31,68.85,0,53.56,0,34.42S13.66,0,34.66,0s33.85,14.82,34.31,34.42c0,19.14-13.31,34.43-34.66,34.43h0Zm264.43,229.89h-64.18v-109.11c0-26.14-9.34-44-32.56-44-17.74,0-28.24,12-32.91,23.69-1.75,4.2-2.22,9.92-2.22,15.76v113.66h-64.18V99.19h64.18v27.77c9.34-13.3,23.93-32.44,57.88-32.44,42.13,0,74,27.77,74,87.64v116.58Z"/></g></svg>
    </a>
    <a href="mailto:?subject={{ content.title.value|url_encode }}&amp;body={{ url|url_encode }}">
      <svg id="email" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Mail</title><rect x="48" y="96" width="416" height="320" rx="40" ry="40" fill="none" stroke="#0160f2" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="#0160f2" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M112 160l144 112 144-112"/></svg>
    </a>
  </div>
{% endblock %}

