{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% extends 'paragraph.html.twig' %}

{% block widgetContent %}
  {{ attach_library('citizen_dart/steps') }}

  {% if content.field_intro_text.0 %}
    {% set intro = {
      '#type': 'processed_text',
      '#text': content.field_intro_text.0['#text'],
      '#format': content.field_intro_text.0['#format']
    } %}
    <div class="field field-intro-text">
      {{ intro }}
    </div>
  {% endif %}

  {% set step_counter = 0 %}
  {% for key, step in content.field_step_items %}
    {% if key|first != '#' %}
      {% set step_counter = step_counter + 1 %}
      {% set step_entity = step['#paragraph'] %}
      {% set long_text = step_entity.field_long_text.0 is defined ? {
        '#type': 'processed_text',
        '#text': step_entity.field_long_text.0.value,
        '#format': step_entity.field_long_text.0.format
      } : null %}
      <div class="step">
        <div class="step-number">
          <span>{{ step_counter > 9 ? step_counter : '0' ~ step_counter }}</span>
          {% if content.field_use_icon.0['#markup'] == 'On' and step_entity.field_icon.0 %}
            <div class="step-icon">
              {{ drupal_field('field_icon', 'paragraph', step_entity.id.value, 'default', null, step_entity.revision_id.value ?? null) }}
            </div>
          {% endif %}
        </div>
        <div class="step-details">
          {% if step_entity.field_headline.0 %}
            <div class="step-headline field-headline">{{ step_entity.field_headline.0.value }}</div>
          {% endif %}
          {% if long_text %}
            <div class="step-long-text field-long-text text-long">{{ long_text }}</div>
          {% endif %}
          {% if step_entity.field_link.0 %}
            <div class="step-link field-link">
              <a href="{{ step_entity.field_link.0.url }}"><span>{{ step_entity.field_link.0.title }}</span></a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
