{#
/**
 * @file
 * Theme override for the node title field.
 *
 * This is an override of field.html.twig for the node title field. See that
 * template for documentation about its details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see field.html.twig
 */
#}

{% extends 'field.html.twig' %}

{% set hero = element['#object'].field_hero.0.entity %}
{% set hero_type = hero.field_hero_type.0.value %}

{% set formattedTitle = {
  '#type': 'processed_text',
  '#text': element['#object'].field_formatted_title.0.value,
  '#format': element['#object'].field_formatted_title.0.format
} %}

{# override page title with hero title #}
{% if hero.field_title_override.0 %}
  {% set formattedTitle = formattedTitle|merge({'#text': hero.field_title_override.0.value}) %}
{% endif %}

{% set bodyText = {
  '#type': 'processed_text',
  '#text': element['#object'].body.0.value,
  '#format': element['#object'].body.0.format
} %}

{# override page body with hero body #}
{% if hero.field_body.0 %}
  {% set bodyText = bodyText|merge({'#text': hero.field_body.0.value}) %}
{% endif %}

{% block fieldSingleNo %}
  <div class="page-header-wrapper{% if element['#object'].field_hero.0 %} has-hero page-hero-{{ hero_type|clean_class }}{% endif %}">

    {# render a large version image for certain heros #}
    {% if hero_type == 'image' or hero_type == 'background_image' %}
      {% if element['#object'].field_hero.0.entity.field_image.0 %}
        <div class="hero-image">
          <div class="image-right">
            {{ drupal_entity('media', element['#object'].field_hero.0.entity.field_image.0.target_id, '730x840') }}
            {% if hero_type == 'image' %}
              <div class="image-waves">
                <img src="/themes/custom/citizen_dart/images/elements/wavy-blue.svg" width="542px" height="881px" alt="decorative wavy line background shape" />
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% if hero_type == 'pattern' %}
      <div class="wavy-lines">
        <img src="/themes/custom/citizen_dart/images/elements/wavy-blue.svg" width="542px" height="919px" alt="decorative background shape of wavy lines like a river contour" />
      </div>
    {% endif %}

    {% if hero_type == 'background_image' %}
      <div class="river-background">
        <img src="/themes/custom/citizen_dart/images/elements/river-alt.svg" width="1512px" height="1028px" alt="decorative background shape of a river" />
      </div>
    {% endif %}

    {% if hero_type == 'full_image' %}
      {% if element['#object'].field_hero.0.entity.field_background_image.0 %}
        <div class="hero-background">
          {{ drupal_entity('media', element['#object'].field_hero.0.entity.field_background_image.0.target_id, 'banner') }}
        </div>
      {% endif %}
    {% endif %}

    {# render the video for a video hero #}
    {% if hero_type == 'video' %}
      {% if element['#object'].field_hero.0.entity.field_hero_video.0 %}
        {{ attach_library('citizen_dart/hero') }}
        <div class="video-hero">
          <video playsinline muted loop preload="auto" {% if element['#object'].field_hero.0.entity.field_video_poster.0 %} poster="{{ element['#object'].field_hero.0.entity.field_video_poster.0.entity.field_media_image.0.entity.uri.0.value | image_style('1680x1260') }}{% endif %}" id="hero-video">
            {% for video in element['#object'].field_hero.0.entity.field_hero_video %}
              <source data-src="{{ video.entity.uri.0.value|replace({'public://':'/sites/default/files/'}) }}" type="{{ video.entity.filemime.0.value }}"/>
            {% endfor %}
          </video>
        </div>
      {% endif %}
    {% endif %}

    {# set an area with breadcrumbs and header text content #}
    <div class="page-header-text">
      {% if element['#object'].field_hide_nav.0.value == '0' and (hero_type != 'full_image' and hero_type != 'video') %}
        {{ drupal_block('system_breadcrumb_block') }}
      {% endif %}
      <div class="page-header-text-inner">
        <div class="node-title">
          <h1 class="page-title formatted-title">{{ formattedTitle|render|striptags('<strong>')|trim|raw }}</h1>
        </div>
        
        {% if element['#object'].field_subtitle.0 and (hero_type == 'pattern' or hero_type == 'image' or hero_type == 'background_image') %}
          <h2 class="node-subtitle">
            {{ element['#object'].field_subtitle.0.value }}
          </h2>
        {% endif %}

        {% if bodyText['#text'] %}
          <div class="node-body">
            {{ bodyText }}
          </div>
        {% endif %}

        {# render hero links if any exist #}
        {% if hero.field_links.0 %}
          <div class="field field-links">
            {% for link in hero.field_links %}
              <a href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {# end page header wrapper #}
  <div id="scroll-anchor"></div>
{% endblock %}
