{#
/**
 * @file
 * Theme override for the node title field.
 *
 * This is an override of field.html.twig for the node title field. See that
 * template for documentation about its details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see field.html.twig
 */
#}

{% extends 'field.html.twig' %}

{% set formattedTitle = {
	'#type': 'processed_text',
	'#text': element['#object'].field_formatted_title.0.value,
	'#format': element['#object'].field_formatted_title.0.format
} %}
{% set bodyText = {
	'#type': 'processed_text',
	'#text': element['#object'].body.0.value,
	'#format': element['#object'].body.0.format
} %}

{% block fieldSingleNo %}

	<div class="page-header-wrapper{% if element['#object'].field_hero.0 %} has-hero page-hero-{{ element['#object'].field_hero.0.entity.field_hero_type.0.value|clean_class }}{% endif %}"{% if element['#object'].field_hero.0.entity.field_hero_type.0.value == 'background_image' %} style="background:url({{ file_url(element['#object'].field_hero.0.entity.field_background_image.0.entity.field_media_image.entity.fileuri) }}) no-repeat"{% endif %}>

		{# render a large version image for certain heros #}
		{% if element['#object'].field_hero.0.entity.field_hero_type.0.value == 
		'image' or element['#object'].field_hero.0.entity.field_hero_type.0.value == 'background_image' %}
			{% if element['#object'].field_hero.0.entity.field_image.0 %}
        <div class="hero-image">
          <div class="image-right">
            {{ drupal_entity('media',element['#object'].field_hero.0.entity.field_image.0.target_id,'730x840') }}
          </div>
        </div>
			{% endif %}
		{% endif %}

		{# add a background/full image for certain heros #}
		{% if element['#object'].field_hero.0.entity.field_hero_type.0.value == 
		'video' or element['#object'].field_hero.0.entity.field_hero_type.0.value == 'full_image' %}
			{% if element['#object'].field_hero.0.entity.field_background_image.0 %}
				<div class="hero-background">
					{{ drupal_entity('media',element['#object'].field_hero.0.entity.field_background_image.0.target_id,'1920x1445') }}
				</div>
			{% endif %}
		{% endif %}
		{# set an area with breadcrumbs and header text content #}
		<div class="page-header-text">
			{% if element['#object'].field_hide_nav.0.value == '0' and (element['#object'].field_hero.0.entity.field_hero_type.0.value != 'full_image' and element['#object'].field_hero.0.entity.field_hero_type.0.value != 'video') %}
				{{ drupal_block('system_breadcrumb_block') }}
			{% endif %}
			<div class="page-header-text-inner">
				<div class="node-title">
					<h1 class="page-title formatted-title">{{ formattedTitle|render|striptags('<strong>')|trim|raw }}</h1>
				</div>
				{% if element['#object'].field_subtitle.0 and (element['#object'].field_hero.0.entity.field_hero_type.0.value == 'pattern' or element['#object'].field_hero.0.entity.field_hero_type.0.value == 'image' or element['#object'].field_hero.0.entity.field_hero_type.0.value == 'background_image') %}
					<h2 class="node-subtitle">
						{{ element['#object'].field_subtitle.0.value }}
          </h2>
				{% endif %}
				{% if element['#object'].body.0 and (element['#object'].field_hero.0.entity.field_hero_type.0.value == 'pattern' or element['#object'].field_hero.0.entity.field_hero_type.0.value == 'image' or element['#object'].field_hero.0.entity.field_hero_type.0.value == 'background_image') %}
					<div class="node-body">
						{{ bodyText }}
					</div>
				{% endif %}
			</div>
		</div>

		{# render the video and arrow link if its a video hero #}
		{% if element['#object'].field_hero.0.entity.field_hero_type.0.value == 
		'video' %}
			{% if element['#object'].field_hero.0.entity.field_hero_video.0 %}
				<div class="video-hero">
					<div class="video-hero-mask">
						<div class="stripes-first">
							<svg width="264" height="172" viewbox="0 0 264 172" fill="none" xmlns="http://www.w3.org/2000/svg">
								<mask id="mask0_2283_54005" style="mask-type:luminance" maskunits="userSpaceOnUse" x="0" y="0" width="264" height="172">
									<path d="M263.747 0H0V171.284H263.747V0Z" fill="white"/>
								</mask>
								<g mask="url(#mask0_2283_54005)">
									<path d="M21.1562 105.202L555.971 -48.1504" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
									<path d="M21.1562 123.134L555.971 -30.2188" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
									<path d="M21.1562 141.065L555.971 -12.2876" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
									<path d="M21.1562 158.997L555.971 5.64404" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
									<path d="M21.1562 176.928L555.971 23.5752" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
									<path d="M21.1562 194.859L555.971 41.5068" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
									<path d="M21.1562 212.791L555.971 59.4385" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
									<path d="M21.1562 230.722L555.971 77.3696" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
								</g>
							</svg>

						</div>
						<div class="video-mask-inner">
							<video playsinline autoplay muted loop {% if element['#object'].field_hero.0.entity.field_video_poster.0 %} poster="{{ element['#object'].field_hero.0.entity.field_video_poster.0.entity.field_media_image.0.entity.uri.0.value|replace({'public://':'/sites/default/files/'}) }}{% endif %}">
								{% for video in element['#object'].field_hero.0.entity.field_hero_video %}
									<source src="{{ video.entity.uri.0.value|replace({'public://':'/sites/default/files/'}) }}" type="{{ video.entity.filemime.0.value }}"/>
								{% endfor %}
							</video>
						</div>
						<div class="stripes-last">
							<svg width="264" height="172" viewbox="0 0 264 172" fill="none" xmlns="http://www.w3.org/2000/svg">
								<mask id="mask0_2283_54005" style="mask-type:luminance" maskunits="userSpaceOnUse" x="0" y="0" width="264" height="172">
									<path d="M263.747 0H0V171.284H263.747V0Z" fill="white"/>
								</mask>
								<g mask="url(#mask0_2283_54005)">
									<path d="M21.1562 105.202L555.971 -48.1504" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
									<path d="M21.1562 123.134L555.971 -30.2188" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
									<path d="M21.1562 141.065L555.971 -12.2876" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
									<path d="M21.1562 158.997L555.971 5.64404" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
									<path d="M21.1562 176.928L555.971 23.5752" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
									<path d="M21.1562 194.859L555.971 41.5068" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
									<path d="M21.1562 212.791L555.971 59.4385" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
									<path d="M21.1562 230.722L555.971 77.3696" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
								</g>
							</svg>
						</div>
					</div>
				{% endif %}
				<div class="scroll-link">
					<a href="{% if element['#object'].field_hero.0.entity.field_structure_section.0 %}#structured-content{% else %}#node-section-2{% endif %}">Here you can
						<span class="link-arrow">
							<span>scroll to content</span>
						</span>
					</a>
				</div>
			{% endif %}

			{# render the links field if it exists and if the hero is not video #}
			{% if element['#object'].field_hero.0.entity.field_hero_type.0.value != 'video' and element['#object'].field_hero.0.entity.field_hero_type.0.value != 'full_image' %}
				{% if element['#object'].field_hero.0.entity.field_links.0 %}
					<div class="field field-links">
            {% for link in element['#object'].field_hero.0.entity.field_links %}
              <div>
                <a href="{{ link.url }}"><span>{{ link.title }}</span></a>
              </div>
            {% endfor %}
					</div>
				{% endif %}
			{% endif %}

			{# {% if element['#object'].field_hero.0.entity.field_hero_type.0.value == 'full_image' %}
				<div class="blue-triangle"></div>
			{% endif %} #}

		</div>
		{# end page header wrapper #}

	{% endblock %}
