{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{% set classes = [
  'node-widget',
  'node-widget-' ~ node.type.0.target_id|clean_class,
] %}


<article{{ attributes.addClass(classes) }}>
  
  <div class="snapshot-widget-content">
    <div class="snapshot-top-left">
      {{- content.field_image -}}
      <div class="swirl-blue">
        <svg width="611" height="375" viewBox="0 0 611 375" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_1941_30350" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="611" height="375">
          <rect y="374.338" width="374.338" height="610.369" transform="rotate(-90 0 374.338)" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_1941_30350)">
          <path d="M593.807 9.63184L573.871 9.63183" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M541.125 8.8916L522.722 10.3724" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M488.443 8.15137L471.573 11.1164" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M435.758 7.41113L420.423 11.857" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M383.074 6.6709L369.272 12.5975" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M330.393 5.92676L318.123 13.3376" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M277.711 5.18652L266.974 14.0782" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M225.025 4.44531L215.824 14.8178" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M172.344 3.70508L164.678 15.5618" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M119.662 2.96484L113.529 16.3023" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M66.9805 2.22461L62.3798 17.0429" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M14.2969 1.48047L11.2286 17.783" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M593.041 36.2041L574.638 37.6883" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M540.477 35.5771L523.371 38.3149" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M487.912 34.9502L472.104 38.9415" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M435.344 34.3232L420.836 39.568" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M382.779 33.6963L369.569 40.1946" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M330.215 33.0703L318.301 40.8221" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M277.65 32.4434L267.034 41.4487" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M225.086 31.8164L215.767 42.0752" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M172.521 31.1895L164.5 42.7018" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M119.957 30.5625L113.232 43.3283" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M67.3926 29.9365L61.9651 43.9559" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M14.8281 29.3096L10.6978 44.5824" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M592.273 62.7783L575.403 65.7399" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M539.828 62.2656L524.02 66.2534" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M487.381 61.7529L472.634 66.767" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M434.934 61.2393L421.249 67.2795" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M382.486 60.7266L369.864 67.7931" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M330.041 60.2129L318.48 68.3056" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M277.594 59.7002L267.092 68.8191" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M225.146 59.1865L215.706 69.3317" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M172.699 58.6738L164.321 69.8452" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M120.254 58.1611L112.938 70.3587" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M67.8066 57.6475L61.5523 70.8713" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M15.3594 57.1348L10.1671 71.3848" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M591.504 89.3506L576.169 93.7964" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M539.18 88.9512L524.668 94.1959" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M486.85 88.5518L473.165 94.592" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M434.521 88.1523L421.664 94.9915" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M382.191 87.7529L370.157 95.3911" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M329.861 87.3535L318.654 95.7906" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M277.533 86.957L267.152 96.1896" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M225.203 86.5576L215.649 96.5891" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M172.875 86.1582L164.148 96.9887" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M120.545 85.7588L112.641 97.3847" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M68.2168 85.3594L61.1393 97.7843" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M15.8906 84.96L9.63635 98.1838" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M590.738 115.922L576.936 121.848" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M538.531 115.637L525.317 122.135" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M486.318 115.351L473.696 122.421" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M434.107 115.068L422.073 122.706" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M381.896 114.782L370.453 122.989" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M329.684 114.496L318.832 123.274" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M277.477 114.211L267.213 123.561" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M225.264 113.928L215.588 123.846" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M173.053 113.643L163.969 124.129" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M120.842 113.356L112.35 124.414" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M68.6289 113.07L60.7247 124.7" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M16.418 112.788L9.10522 124.986" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M589.973 142.494L577.703 149.905" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M537.879 142.321L525.966 150.073" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M485.787 142.152L474.227 150.245" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M433.693 141.98L422.486 150.418" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M381.6 141.809L370.748 150.587" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M329.51 141.64L319.008 150.759" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M277.416 141.468L267.27 150.931" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M225.322 141.299L215.533 151.1" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M173.23 141.127L163.79 151.272" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M121.137 140.954L112.053 151.444" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M69.043 140.785L60.3155 151.612" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M16.9492 140.613L8.57452 151.785" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M589.205 169.065L578.471 177.957" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M537.23 169.011L526.614 178.016" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M485.256 168.952L474.757 178.071" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M433.281 168.896L422.9 178.129" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M381.307 168.838L371.043 178.188" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M329.332 168.783L319.186 178.243" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M277.355 168.725L267.331 178.302" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M225.383 168.666L215.472 178.357" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M173.406 168.61L163.617 178.415" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M121.434 168.552L111.758 178.47" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M69.457 168.497L59.9028 178.529" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M17.4805 168.438L8.04382 178.584" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M588.439 195.637L579.238 206.013" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M536.58 195.695L527.261 205.954" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M484.727 195.754L475.29 205.899" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M432.867 195.81L423.313 205.841" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M381.012 195.868L371.336 205.786" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M329.152 195.923L319.363 205.727" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M277.297 195.981L267.386 205.672" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M225.439 196.036L215.415 205.613" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M173.584 196.095L163.438 205.555" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M121.725 196.15L111.461 205.5" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M69.8691 196.209L59.4881 205.442" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M18.0117 196.268L7.51312 205.387" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M587.674 222.212L580.005 234.065" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M535.932 222.381L527.91 233.897" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M484.195 222.553L475.821 233.724" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M432.453 222.726L423.726 233.553" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M380.717 222.894L371.633 233.383" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M328.979 223.066L319.538 233.212" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M277.238 223.238L267.449 233.039" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M225.5 223.407L215.354 232.871" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M173.762 223.579L163.26 232.698" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M122.021 223.751L111.17 232.526" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M70.2832 223.92L59.0754 232.357" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M18.543 224.093L6.9823 232.185" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M586.904 248.784L580.771 262.122" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M535.283 249.069L528.559 261.835" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M483.664 249.352L476.351 261.549" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M432.043 249.638L424.139 261.267" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M380.42 249.924L371.928 260.982" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M328.801 250.209L319.717 260.695" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M277.18 250.492L267.504 260.41" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M225.557 250.777L215.297 260.127" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M173.938 251.063L163.086 259.841" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M122.316 251.35L110.873 259.556" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M70.6973 251.632L58.6627 259.27" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M19.0723 251.918L6.44971 258.988" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M586.137 275.355L581.536 290.174" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M534.635 275.755L529.207 289.778" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M483.133 276.154L476.879 289.378" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M431.631 276.554L424.553 288.979" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M380.129 276.95L372.225 288.58" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M328.621 277.35L319.894 288.18" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M277.119 277.749L267.565 287.781" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M225.617 278.148L215.236 287.381" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M174.115 278.548L162.907 286.982" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M122.613 278.947L110.579 286.585" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M71.1074 279.347L58.2496 286.186" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M19.6035 279.743L5.91895 285.787" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M585.371 301.927L582.303 318.229" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M533.986 302.44L529.856 317.717" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M482.602 302.953L477.409 317.203" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M431.217 303.467L424.963 316.691" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M379.832 303.979L372.516 316.177" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M328.447 304.492L320.069 315.664" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M277.062 305.006L267.622 315.151" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M225.678 305.519L215.176 314.637" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M174.289 306.032L162.728 314.125" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M122.904 306.545L110.282 313.611" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M71.5195 307.059L57.835 313.099" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M20.1348 307.571L5.38824 312.585" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M584.605 328.499L583.073 346.282" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M533.338 329.125L530.508 345.655" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M482.07 329.752L477.94 345.028" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M430.803 330.383L425.375 344.402" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M379.537 331.009L372.812 343.775" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M328.27 331.636L320.248 343.148" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M277.002 332.263L267.683 342.521" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M225.734 332.89L215.118 341.895" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M174.467 333.517L162.553 341.268" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M123.201 334.143L109.991 340.641" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M71.9336 334.77L57.4258 340.014" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M20.666 335.396L4.85748 339.388" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M583.84 355.074L583.84 374.338" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M532.689 355.814L531.157 373.598" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M481.539 356.555L478.471 372.857" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M430.391 357.295L425.79 372.113" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M379.24 358.035L373.107 371.373" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M328.092 358.775L320.426 370.632" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M276.945 359.52L267.744 369.892" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M225.795 360.26L215.058 369.151" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M174.646 361L162.377 368.411" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M123.496 361.741L109.694 367.668" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M72.3457 362.481L57.0111 366.927" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          <path d="M21.1973 363.222L4.32678 366.187" stroke="#0160F2" stroke-width="2" stroke-miterlimit="10"/>
          </g>
        </svg>  
      </div>
    </div>
    <div class="snapshot-top-right">
      {{ content.field_eyebrow }}
      <div class="snapshot-title">
        {{- label.0['#context'].value -}}
      </div>
    </div>
    <div class="snapshot-bottom">
      {{- content.field_plain_text -}}
      <div class="field field-link">
        <a href="{{ content.field_link.0['#url'] }}"><span>{{ content.field_link.0['#title'] }}</span></a>
      </div>
    </div>
  </div>
  <div class="snapshot-eyebrow-sm">
    {{- content.field_eyebrow.0['#plain_text'] -}}
  </div>
</article>

	
