{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% extends 'breadcrumb.html.twig' %}

{% block trail %}
  {# this setup works for 2nd level pages #}
  {% if parentNode.bundle == 'department' %}
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="{{ path('entity.node.canonical', {'node':'9164'}) }}">Academics</a>
    </li>
    {# <li>  PARENS DEPARTMENT COLLEGE WILL GO HERE
      <a href="{{ path('entity.node.canonical', {'node':'9164'}) }}">Academics</a>
    </li> #}
    <li>
      <a href="{{ path('entity.node.canonical', {'node':parentNode.nid.0.value}) }}">{{ parentNode.title.0.value }}</a>
    </li>
  {% elseif '' %}
  {# here's where we need the logic for menuRoot department -- the setup for 3rd level and below general pages #}
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="{{ path('entity.node.canonical', {'node':'9164'}) }}">Academics</a>
  </li>
  {# <li>  PARENS DEPARTMENT COLLEGE WILL GO HERE
    <a href="{{ path('entity.node.canonical', {'node':'9164'}) }}">Academics</a>
  </li> #}
  <li>
    <a href="MENUROOTDEPARTMENT">MENU ROOT DEPARTMENT TITLE</a>
  </li>
  <li>
    WE'LL REINSTERT THE REGULAR MENU BREADCRUMB TRAIL ( but without Home link) HERE SO LOWER LEVEL PAGES GET THE CORRECT TRAIL.
  </li>
  {# we need this logic so the breadcrumbs don't change for generals around the site that are not in the departments menu #}
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock %}
      