{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% extends 'breadcrumb.html.twig' %}

{% block trail %}
  {# Alter the trail if the page is the department menu #}
  {% if deptNode.nid.0.value %}
    {# set the home, academics college and department crumbs #}
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="{{ path('entity.node.canonical', {'node':'9164'}) }}">Academics</a>
    </li>
    <li>
      <a href="{{ path('entity.node.canonical', {'node':deptNode.field_college.entity.nid.0.value}) }}">{{ deptNode.field_college.entity.title.0.value }}</a>
    </li>
    <li>
      <a href="{{ path('entity.node.canonical', {'node':deptNode.nid.0.value}) }}">{{ deptNode.title.0.value }}</a>
    </li>
    {# add in the parent menu item if the node is third level #}
    {% if parentNode.bundle == 'page' %}
      <li>
        <a href="{{ path('entity.node.canonical', {'node':parentNode.nid.0.value}) }}">{{ parentNode.title.0.value }}</a>
      </li>
    {% endif %}
    {# rebuild the regular menu trail without the home link #}
    {% for item in breadcrumb %}
      {% if not loop.first %}
        <li>
          <a href="{{- item.url -}}">{{- item.text -}}</a>
        </li>
      {% endif %}
      </li>
    {% endfor %}
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock %}
      