{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% if breadcrumb %}
	<nav class="breadcrumb">
		<span class="visually-hidden">{{ 'Breadcrumb'|t }}</span>
		<ol class="breadcrumb-list">
			{% block trail %}
				{% for item in breadcrumb %}
					<li>
						{% if item.url %}
							<a href="{{- item.url -}}">{{- item.text -}}</a>
						{% else %}
							{{- item.text -}}
						{% endif %}
					</li>
				{% endfor %}
			{% endblock %}
      {% block current %}
        <li>{{ currentNode.title.0.value }}</li>
      {% endblock %}
		</ol>
	</nav>
{% endif %}
