{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}


{% extends 'block.html.twig' %}


{% block blockContent %}
  {{ content|without('field_formatted_headline', 'body', 'field_program_finder', 'field_cta_image', 'field_cta_links', 'field_bg_image' )}}
  {% if content.field_bg_image.0['#plain_text'] %}
    {% set imageEntity = drupal_entity('media', content.field_bg_image['#items'].0.target_id) %}
    {% set bgImageUrl = imageEntity['#media'].field_media_image|file_url %}
  {% endif %}  
  <div class="cta-section">
    {% if bgImageUrl %} <img src="{{ bgImageUrl }}" alt="" class="bg-image" />{% endif %}
    <div class="cta-section-inner">
      <div class="first">
        {{ content.field_formatted_headline }}
        {{ content.body }}
        {% if content.field_program_finder.0['#markup'] == "On" %}
          {{ drupal_block('program_search') }}
        {% endif %}
      </div>
      <div class="last">
        {{ content.field_cta_image }}
        {{ content.field_cta_links }}
      </div>
    </div>
  </div>  
{% endblock %}